### Notebook model

In [27]:
# Import des librairies
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from tensorflow.keras.datasets import mnist

# preprocessing 
from sklearn.model_selection import train_test_split
from tensorflow.keras.layers import Rescaling


# warnings
import warnings
warnings.filterwarnings('ignore')

In [28]:
# import des données
df = pd.read_csv("data/train.csv")
df_test = pd.read_csv("data/test.csv") # données sans target, non labelisées

In [26]:
df.shape

(42000, 785)

In [17]:
df_test.shape

(28000, 784)

In [29]:
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
# séparer les features de la target
X = df_train.drop(["label"], axis = 1)
y = df_train["label"]

# train test split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [32]:
# preprocessing
X_train = Rescaling(scale=1 / 255)(X_train)
X_test = Rescaling(scale=1 / 255)(X_test)